<a href="https://colab.research.google.com/github/Lucas-Buk/IMT/blob/main/Tratamento.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Bibliotecas**

In [ ]:
# instala biblioteca para leitura de excel e biblioteca gráfica

!pip install xlrd
!pip install -U plotly
# !pip install plotly==4.8.1

# organização da planilha excel

!pip install nltk

# Exportando figuras com melhores resoluções

!pip install -U kaleido

Requirement already satisfied: xlrd in /usr/local/lib/python3.7/dist-packages (1.1.0)
Collecting plotly
  Downloading https://files.pythonhosted.org/packages/1f/f6/bd3c17c8003b6641df1228e80e1acac97ed8402635e46c2571f8e1ef63af/plotly-4.14.3-py2.py3-none-any.whl (13.2MB)
     |████████████████████████████████| 13.2MB 334kB/s
Requirement already satisfied, skipping upgrade: six in /usr/local/lib/python3.7/dist-packages (from plotly) (1.15.0)
Requirement already satisfied, skipping upgrade: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly) (1.3.3)
Installing collected packages: plotly
  Found existing installation: plotly 4.4.1
    Uninstalling plotly-4.4.1:
      Successfully uninstalled plotly-4.4.1
Successfully installed plotly-4.14.3
Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk) (1.15.0)
Collecting kaleido
  Downloading https://files.pythonhosted.org/packages/83/39/1c960a971f8d27e6aa4f1462dc048275c98bbb46f16871269ba941bb4a04/kaleido-0.1.0-py2.py3-none-manylinux1_x86_64.whl (74.6MB)
     |████████████████████████████████| 74.6MB 55kB/s
Installing collected packages: kaleido
Successfully installed kaleido-0.1.0

In [ ]:
!add-apt-repository -y ppa:cran/poppler
!apt-get update
!apt-get install -y libpoppler-cpp-dev

Get:1 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Ign:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Get:3 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:4 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:5 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Hit:6 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:7 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:8 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:9 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Get:10 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,392 kB]
Hit:11 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:12 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [1,963 kB]
Get:13 http://ppa.launchpad.net/cran/poppler/ubuntu bionic InRelease [15.9 kB]
Get:14 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Hit:16 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Hit:17 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:19 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,739 kB]
Get:20 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,395 kB]
Get:21 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [889 kB]
Get:22 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,163 kB]
Get:23 http://ppa.launchpad.net/cran/poppler/ubuntu bionic/main amd64 Packages [2,602 B]
Fetched 10.8 MB in 3s (3,497 kB/s)
Reading package lists... Done
Ign:1 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
Ign:3 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:4 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:5 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Hit:6 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:7 http://security.ubuntu.com/ubuntu bionic-security InRelease
Hit:8 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:9 http://archive.ubuntu.com/ubuntu bionic-updates InRelease
Hit:10 http://archive.ubuntu.com/ubuntu bionic-backports InRelease
Hit:11 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:12 http://ppa.launchpad.net/cran/poppler/ubuntu bionic InRelease
Hit:13 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Hit:15 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Reading package lists... Done
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following additional packages will be installed:
  libpoppler-cpp0v5 libpoppler-dev libpoppler-private-dev libpoppler85
  poppler-data
Suggested packages:
  poppler-utils ghostscript fonts-japanese-mincho | fonts-ipafont-mincho
  fonts-japanese-gothic | fonts-ipafont-gothic fonts-arphic-ukai
  fonts-arphic-uming fonts-nanum
The following NEW packages will be installed:
  libpoppler-cpp-dev libpoppler-cpp0v5 libpoppler85 poppler-data
The following packages will be upgraded:
  libpoppler-dev libpoppler-private-dev
2 upgraded, 4 newly installed, 0 to remove and 41 not upgraded.
Need to get 2,696 kB of archives.
After this operation, 15.9 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/main amd64 poppler-data all 0.4.8-2 [1,479 kB]
Get:2 http://ppa.launchpad.net/cran/poppler/ubuntu bionic/main amd64 libpoppler85 amd64 0.74.0-bionic0 [914 kB]
Get:3 http://ppa.launchpad.net/cran/poppler/ubuntu bionic/main amd64 libpoppler-cpp0v5 amd64 0.74.0-bionic0 [55.3 kB]
Get:4 http://ppa.launchpad.net/cran/poppler/ubuntu bionic/main amd64 libpoppler-private-dev amd64 0.74.0-bionic0 [194 kB]
Get:5 http://ppa.launchpad.net/cran/poppler/ubuntu bionic/main amd64 libpoppler-dev amd64 0.74.0-bionic0 [24.6 kB]
Get:6 http://ppa.launchpad.net/cran/poppler/ubuntu bionic/main amd64 libpoppler-cpp-dev amd64 0.74.0-bionic0 [29.7 kB]
Fetched 2,696 kB in 2s (1,349 kB/s)
Selecting previously unselected package poppler-data.
(Reading database ... 149406 files and directories currently installed.)
Preparing to unpack .../0-poppler-data_0.4.8-2_all.deb ...
Unpacking poppler-data (0.4.8-2) ...
Selecting previously unselected package libpoppler85:amd64.
Preparing to unpack .../1-libpoppler85_0.74.0-bionic0_amd64.deb ...
Unpacking libpoppler85:amd64 (0.74.0-bionic0) ...
Selecting previously unselected package libpoppler-cpp0v5:amd64.
Preparing to unpack .../2-libpoppler-cpp0v5_0.74.0-bionic0_amd64.deb ...
Unpacking libpoppler-cpp0v5:amd64 (0.74.0-bionic0) ...
Preparing to unpack .../3-libpoppler-private-dev_0.74.0-bionic0_amd64.deb ...
Unpacking libpoppler-private-dev:amd64 (0.74.0-bionic0) over (0.62.0-2ubuntu2.12) ...
Preparing to unpack .../4-libpoppler-dev_0.74.0-bionic0_amd64.deb ...
Unpacking libpoppler-dev:amd64 (0.74.0-bionic0) over (0.62.0-2ubuntu2.12) ...
Selecting previously unselected package libpoppler-cpp-dev:amd64.
Preparing to unpack .../5-libpoppler-cpp-dev_0.74.0-bionic0_amd64.deb ...
Unpacking libpoppler-cpp-dev:amd64 (0.74.0-bionic0) ...
Setting up poppler-data (0.4.8-2) ...
Setting up libpoppler85:amd64 (0.74.0-bionic0) ...
Setting up libpoppler-dev:amd64 (0.74.0-bionic0) ...
Setting up libpoppler-cpp0v5:amd64 (0.74.0-bionic0) ...
Setting up libpoppler-private-dev:amd64 (0.74.0-bionic0) ...
Setting up libpoppler-cpp-dev:amd64 (0.74.0-bionic0) ...
Processing triggers for fontconfig (2.12.6-0ubuntu2) ...
Processing triggers for libc-bin (2.27-3ubuntu1.4) ...
/sbin/ldconfig.real: /usr/local/lib/python3.7/dist-packages/ideep4py/lib/libmkldnn.so.0 is not a symbolic link

In [ ]:
!apt-get install poppler-utils

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following NEW packages will be installed:
  poppler-utils
0 upgraded, 1 newly installed, 0 to remove and 41 not upgraded.
Need to get 184 kB of archives.
After this operation, 637 kB of additional disk space will be used.
Get:1 http://ppa.launchpad.net/cran/poppler/ubuntu bionic/main amd64 poppler-utils amd64 0.74.0-bionic0 [184 kB]
Fetched 184 kB in 0s (421 kB/s)
Selecting previously unselected package poppler-utils.
(Reading database ... 149952 files and directories currently installed.)
Preparing to unpack .../poppler-utils_0.74.0-bionic0_amd64.deb ...
Unpacking poppler-utils (0.74.0-bionic0) ...
Setting up poppler-utils (0.74.0-bionic0) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...

In [ ]:
# Importa a biblioteca pandas

import pandas as pd
pd.options.plotting.backend = "plotly"

# Importa biblioteca para conversão de datas

from datetime import datetime

# Bilbioteca gráfica utilizada neste estudo

import plotly.express as px
import plotly.figure_factory as ff

# Importando pacote
import nltk
nltk.download("popular")
import pandas as pd
import numpy as np

# Stemming pt
nltk.download('rslp')

# biblioteca numérica

import scipy.stats as stats
import scipy
from sklearn.metrics import r2_score

[nltk_data] Downloading collection 'popular'
[nltk_data]    |
[nltk_data]    | Downloading package cmudict to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/cmudict.zip.
[nltk_data]    | Downloading package gazetteers to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/gazetteers.zip.
[nltk_data]    | Downloading package genesis to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/genesis.zip.
[nltk_data]    | Downloading package gutenberg to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/gutenberg.zip.
[nltk_data]    | Downloading package inaugural to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/inaugural.zip.
[nltk_data]    | Downloading package movie_reviews to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/movie_reviews.zip.
[nltk_data]    | Downloading package names to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/names.zip.
[nltk_data]    | Downloading package shakespeare to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/shakespeare.zip.
[nltk_data]    | Downloading package stopwords to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/stopwords.zip.
[nltk_data]    | Downloading package treebank to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/treebank.zip.
[nltk_data]    | Downloading package twitter_samples to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/twitter_samples.zip.
[nltk_data]    | Downloading package omw to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/omw.zip.
[nltk_data]    | Downloading package wordnet to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/wordnet.zip.
[nltk_data]    | Downloading package wordnet_ic to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/wordnet_ic.zip.
[nltk_data]    | Downloading package words to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/words.zip.
[nltk_data]    | Downloading package maxent_ne_chunker to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping chunkers/maxent_ne_chunker.zip.
[nltk_data]    | Downloading package punkt to /root/nltk_data...
[nltk_data]    |   Unzipping tokenizers/punkt.zip.
[nltk_data]    | Downloading package snowball_data to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    | Downloading package averaged_perceptron_tagger to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping taggers/averaged_perceptron_tagger.zip.
[nltk_data]    |
[nltk_data]  Done downloading collection popular
[nltk_data] Downloading package rslp to /root/nltk_data...
[nltk_data]   Unzipping stemmers/rslp.zip.

In [ ]:
# biblioteca numérica
from scipy.interpolate import interp1d
from scipy import stats
from sklearn import datasets, linear_model
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
from plotly.subplots import make_subplots
import plotly.graph_objects as go

In [ ]:
# Diretório de imagens
import os
if not os.path.exists("images"):
    os.mkdir("images")

In [ ]:
from scipy.optimize import curve_fit
import math
import matplotlib.pyplot as plt
import matplotlib

# **Funções proprietárias**

In [ ]:
#######################################################################

def DataNorm(Acc):

  # Montagem do Kernel

  variavel =  scipy.stats.zscore(Acc, axis=0, ddof=0)
  empilhada = variavel.tolist()
  empilhada += [24+i for i in variavel.tolist() ]
  empilhada += [48+i for i in variavel.tolist() ]
  bins = np.linspace(0,24,24)
  bins = 3*bins.tolist()
  Kernel = stats.gaussian_kde(empilhada)

  Acc_kernel = Kernel(np.linspace(25,49,24))


  return Acc_kernel

#######################################################################

In [ ]:
# Polynomial Regression
def polyfit(x, y, degree):
    results = {}

    coeffs = np.polyfit(x, y, degree)
     # Polynomial Coefficients
    results['polynomial'] = coeffs.tolist()

    correlation = np.corrcoef(x, y)[0,1]

     # r
    results['correlation'] = correlation
     # r-squared
    results['determination'] = correlation**2

    return results

# **Dados**

In [ ]:
## Carrega uma determinada planilha na variável file

# Monitoramento
fileE3  = '/content/drive/MyDrive/Trabalho/KLB_Final/Monitoramento/Monitoramento 2018_2019 E3.xlsx'
fileE5  = '/content/drive/MyDrive/Trabalho/KLB_Final/Monitoramento/Monitoramento E5 - 2019.xlsx'
fileE9  = '/content/drive/MyDrive/Trabalho/KLB_Final/Monitoramento/Monitoramento E9 - Abril 2019 a fevereiro 2020.xlsx'
fileE9r = '/content/drive/MyDrive/Trabalho/KLB_Final/Monitoramento/Monitoramento E9 - Março a Maio 2020.xlsx'
fileCAS = '/content/drive/MyDrive/Trabalho/KLB_Final/Cabine Anti Sono/Cabine Sono.xlsx'
# Ocorrências
fileOCO = '/content/drive/MyDrive/Trabalho/KLB_Final/Ocorrências/Ocorrências_2017_2018_2019.xlsx'
# Turno
fileTurno  = '/content/drive/MyDrive/Trabalho/KLB_Final/Motoristas por turno.xlsx'
# Informações gerais
fileINF = '/content/drive/MyDrive/Trabalho/KLB_Final/Informações Gerais/Informações gerais empresa Código.xlsx'


## Carrega a planilha em um data frame - data
# Monitoramento
dfE3 = pd.read_excel(fileE3, header=1)
dfE5 = pd.read_excel(fileE5) 
# Arquivo E9 tem mais planilhas internamente
dfE9 = pd.read_excel(fileE9)
xls = pd.ExcelFile(fileE9)
dfE91 = pd.read_excel(fileE9, xls.sheet_names[1])
dfE92 = pd.read_excel(fileE9,  xls.sheet_names[2])
dfCAS = pd.read_excel(fileCAS)
# Ocorrencias
dfOCO = pd.read_excel(fileOCO)
# Turno
dfTurno = pd.read_excel(fileTurno)
# Informações gerais
dfINF = pd.read_excel(fileINF)

In [ ]:
dfCAS.head(2)

  Colaborador Empresa  ... Escala de Trabalho 2° momento
0          C2      E3  ...                4.0        sim
1          C3      E3  ...                4.0        não

[2 rows x 13 columns]

In [ ]:
dfTurno.head(2)

   Unnamed: 0 Unnamed: 1  GT  VPP
0         NaN   00:00:00   3  NaN
1         NaN   01:00:00  19  NaN

In [ ]:
dfINF.head(2)

  Empresa Escala  ... Observação Unnamed: 7
0      E5    4X2  ...        NaN        NaN
1      E5    4X2  ...        NaN        NaN

[2 rows x 8 columns]

Corrigindo, a empresa que realiza monitoramento é a E17 e não a E5, por gentileza alterar.

Então conforme alinhamos, irei coletar as informações das empresas E17 e E9, além da Klabin. Essas empresas são as que tem monitoramento por câmeras. Além dessas, temos os PMT porém eles iniciaram recentemente o monitoramento por câmeras.

Informações sobre o monitoramento:

Monitoramento_2018_2019: alertas de sono detectados pelas câmeras nos veículos Klabin. Iniciou em 07 de 2018, sendo que a implantação em 100% dos veículos foi a partir de fevereiro de 2019. Os alertas são referente as piscada de olho superior a 3 segundos.

Monitoramento_pmt_códigos:  alertas de sono detectados das pequenas e médias transportadoras. Os alertas são referente as piscada de olho superior a 3 segundos. (Desde 20/08/2019)

Dados Monitoramento Empresa E5: alertas de sono da empresa terceira E5 mês 10, avaliam bocejo e fechada de olha, imagens não são tratadas.  (desde o incio do ano)

Dados Monitoramento Empresa E9: alertas de sono da empresa terceira E9 mês 10, imagens são tratadas, dados onde a piscada foi superior a 1,5 segundos e menor que 3 segundo (fadiga Nível 1). (desde mês 03 de 2019).

Consegui contato com as empresas e confirmei a informação referente ao descanso, para as 3 empresas avaliadas o descanso é de 60 horas.

Sobre o monitoramento da empresa E5 acredito que até segunda-feira encaminho a informação.

Primeiramente gostaria de confirmar se recebeu o shipe que encaminhei e se a informação é suficiente.

Entrei em contato com a empresa E9 para entender melhor o que é cada alerta do monitoramento, o Yawn-Warning capta o bocejo, o Atten-Warning é todo e qualquer desvio de atenção, como por exemplo, olhar para o lado, e o Tired é o cansaço, então é quando o motorista fechou o olhou por mais de 1,5 segundos.

Sobre o questionamento sobre a jornada, eles não passaram o quanto em horas seria esses dois dias de descanso, porém as empresas E3 e E9, passaram que é fixa a escala, não alterando quando retorno dos dias de descanso.

Estou aguardando agora o retorno da empresa E5 para passar o restante das informações.

em uma das planilhas temos escala de trabalho classificada como 1,2,3 - O que significam estes números?
Esse número representa qual dia da escala de trabalho o colaborador está. Por exemplo, o colaborador está no segundo dia da escala de trabalho dele.

O que é a medida em segundo momento?
É quando o colaborador precisou repetir o teste de reflexo por algum motivo, mas não temos a informação do motivo.

Escala 4x2 significa 4 dias de trabalho e 2 de descanso?
Isso, exatamente.

Quando você menciona 3 horas extras - significa que todos fazem ou alguns fazem ?
São horas eventuais, mas quando me passaram da frota própria, passaram com essas horas inclusas.

Qual o significado do termo PMT?
Pequenas e Médias Transportadoras.

O que significa o prefixo VPP?existem outras classificações? 
Es letras do prefixo são referentes as empresas, o VPP é Veículo próprio pesado da nossa frota própria.

O que significa Fadiga N1? existem outras classificações? 
Então essa terminologia é utilizada apenas por uma empresa e significa que o colabora fechou os olhos por mais de 1,5 segundos e no caso a mesma empresa tem o N2 que é quando é por mais de 3 segundos. Mas eles enviaram só as informações de N1 por enquanto.

como interpretar as colunas potencial e SAP?
Então o potencial é a classificação que damos as ocorrências, vou te enviar o texto que consta no nosso procedimento, mas é nosso critério para definição do potencial e o número SAP é o número para buscar o relatório dessa ocorrência, mantive para caso precise procurar fica mais fácil.

Texto Procedimento de Classificação de Ocorrência:

Potencialidade: Conceito aplicado para as ocorrências de acidentes e incidentes considerando a suscetibilidade de existir ou acontecer, mas sem a existência real de um determinada de uma perda.

Potencial Leve (PL): Acidente ou Incidente onde não houve potencialidade de gerar nenhuma das lesões citadas no critério total e permanente;

Potencial Grave (PG): Acidente ou Incidente onde tenha gerado ou houve a possibilidade de ocasionar:

 Incapacidade total e permanente;


 Perdas de função;

Ø Amputação total ou parcial nos membros superiores e/ou inferiores (amputação de dedo(s) das mãos com perda total da função de preensão, amputação da mão/pé, amputação do antebraço/braço/perna);

Ø Perda total ou parcial de um órgão pós trauma ou em decorrência de lesão grave;

Ø Perda total ou parcial de função de órgão em decorrência de lesão grave;

Ø Fratura exposta;

Ø Incapacidade total ou parcial permanente por dano neurológico ou motor;

Ø Queimaduras que resultem em sequelas definitivas com restrição de função de membros superiores e inferiores;

Danos estéticos;

Ø Lesão/cicatriz na face ou deformidade visível com aparência, permanência e irreparabilidade pelos meios comuns ou por si mesma, onde o dano estético apreciável causa complexo ou interfere negativamente na vida social com deformidade de mais de 10% da superfície facial ou 25% de qualquer outra parte do corpo (mãos, pés, braços, pernas e tronco).

Potencial Fatal (PF): Acidente ou incidente onde tenha gerado ou houve a potencialidade de fatalidade.

Tempo de empresa está em meses ou anos (tem valores como 86 e 407, estão corretos)?
Está em meses.

Entrei em contato com a empresa E5 e o alerta referente a piscada é de acordo com o número de piscadas por minuto, porém eles não souberem especificar qual seria esse número.

A empresa iria tentar a informação, buscando o fornecedor mas ainda não obtive nenhum retorno.

Verifiquei alguns pontos para ajuste:

- No campo autores, aparece a legenda “1” para meu nome e da Clara, porém na legenda a Klabin está como “c”.

- Ainda referente aos autores, segue meu nome completo para atualizar: Verônica Marques Lopes

- Na linha “94”, está descrito que a empresa E5 dispõem de 3 sistemas de fadiga, porém conforme descrito na sequência, são apenas 2, bocejo e olho fechado.

- Ajustar descrição do alerta referente a E5: número de piscadas por minuto.

- Desta forma, na linha “98”, ajustar que o alerta referente a Eye closed, considera critérios diferentes, para as empresas E5 e E9.

# **Tratamento de dados**



1.   motoristas em cada hora cheia - E3, E5 e E9
2.   acidentes em cada hora cheia - madeira
3.   eventos em cada hora cheia: bocejo, fadiga, atenção, tired,...

## Motoristas em cada hora

**E3**

In [ ]:
dfE3.head(5)

   HORA              TIPO     QTDE  ... PONTO REFERÊNCIA DIA DA SEMANA COLABORADOR
0     0  FADIGA MOTORISTA  AZZ4908  ...              NaN           qui        C193
1     0  FADIGA MOTORISTA  AZZ4908  ...              NaN           ter        C193
2     0  FADIGA MOTORISTA  AZZ4908  ...              NaN           qua        C193
3     0  FADIGA MOTORISTA  AZZ4908  ...              NaN           qua        C193
4     0  FADIGA MOTORISTA  AZZ4911  ...              NaN           qua          C1

[5 rows x 9 columns]

In [ ]:
dfE3[dfE3['HORA'] == 0]['COLABORADOR'].nunique()

6

In [ ]:
dfE3[dfE3['HORA'] == 0]

    HORA              TIPO     QTDE  ... PONTO REFERÊNCIA DIA DA SEMANA COLABORADOR
0      0  FADIGA MOTORISTA  AZZ4908  ...              NaN           qui        C193
1      0  FADIGA MOTORISTA  AZZ4908  ...              NaN           ter        C193
2      0  FADIGA MOTORISTA  AZZ4908  ...              NaN           qua        C193
3      0  FADIGA MOTORISTA  AZZ4908  ...              NaN           qua        C193
4      0  FADIGA MOTORISTA  AZZ4911  ...              NaN           qua          C1
5      0  FADIGA MOTORISTA  AZZ4911  ...              NaN           qua          C1
6      0  FADIGA MOTORISTA  AZZ4911  ...              NaN           sáb         C52
7      0  FADIGA MOTORISTA  AZZ4912  ...              NaN           qui         C10
8      0  FADIGA MOTORISTA  AZZ4912  ...              NaN           qui         C10
9      0  FADIGA MOTORISTA  AZZ4912  ...              NaN           sex         C10
10     0  FADIGA MOTORISTA  AZZ4912  ...              NaN           sex         C10
11     0  FADIGA MOTORISTA  AZZ4912  ...              NaN           sex         C10
12     0  FADIGA MOTORISTA  AZZ4912  ...              NaN           sex         C10
13     0  FADIGA MOTORISTA  AZZ4912  ...              NaN           qua         C29
14     0  FADIGA MOTORISTA  AZZ4912  ...              NaN           qua         C29
15     0  FADIGA MOTORISTA  AZZ4912  ...              NaN           qua         C29
16     0  FADIGA MOTORISTA  AZZ4912  ...              NaN           qua         C29
17     0  FADIGA MOTORISTA  AZZ4912  ...              NaN           qua         C29
18     0  FADIGA MOTORISTA  AZZ4912  ...              NaN           qua         C29
19     0  FADIGA MOTORISTA  AZZ4912  ...              NaN           qua         C29
20     0  FADIGA MOTORISTA  AZZ4912  ...              NaN           qua         C29
21     0  FADIGA MOTORISTA  AZZ4913  ...              NaN           dom         C10
22     0  FADIGA MOTORISTA  AZZ4915  ...              NaN           dom        C163
23     0  FADIGA MOTORISTA  AZZ4915  ...              NaN           dom        C163
24     0  FADIGA MOTORISTA  AZZ4915  ...              NaN           dom        C163
25     0  FADIGA MOTORISTA  AZZ4915  ...              NaN           dom        C163
26     0  FADIGA MOTORISTA  AZZ4915  ...              NaN           dom        C163
27     0  FADIGA MOTORISTA  AZZ4915  ...              NaN           dom        C163
28     0  FADIGA MOTORISTA  AZZ4915  ...              NaN           dom        C163
29     0  FADIGA MOTORISTA  AZZ4915  ...              NaN           dom        C163
30     0  FADIGA MOTORISTA  AZZ4915  ...              NaN           dom        C163
31     0  FADIGA MOTORISTA  AZZ4915  ...              NaN           dom        C163
32     0  FADIGA MOTORISTA  AZZ4915  ...              NaN           dom        C163

[33 rows x 9 columns]

In [ ]:
dfE3_motoristas_hora = pd.DataFrame(dfE3.groupby(by='HORA').nunique()['COLABORADOR'].rename('N° DE MOTORISTAS'))
dfE3_motoristas_hora

      N° DE MOTORISTAS
HORA
0                    6
1                    3
2                    4
3                    2
4                    2
5                    4
6                    3
7                    2
8                    2
10                   1
11                   1
12                   1
13                   2
14                   3
15                   3
16                   1
17                   2
18                   6
19                   1
21                   1
22                   3
23                   3

**E5**

In [ ]:
dfE5.head(2)

  Nome                DATA                HORA Tipo de Desatenção  Velocidade
0  NaN 2019-01-04 11:46:41 2019-01-04 11:46:41       Olho Fechado          57
1  NaN 2019-01-11 19:11:04 2019-01-11 19:11:04       Olho Fechado          48

**E9**

In [ ]:
dfE91.head(2)

   Data da ocorrência        dia        mês  ...    Placa  Motorista Unnamed: 8
0 2019-04-23 22:59:00 2019-04-23 2019-04-23  ...  PLP3I10        NaN        NaN
1 2019-04-23 19:46:00 2019-04-23 2019-04-23  ...  PLP3I10        NaN        NaN

[2 rows x 9 columns]

In [ ]:
dfE92.head(2)

   Data da ocorrência        dia        mês  ...    Placa  Motorista Unnamed: 8
0 2019-12-01 23:59:00 2019-12-01 2019-12-01  ...  CQU5528       C805        NaN
1 2019-12-01 23:10:00 2019-12-01 2019-12-01  ...  QPY2670       C784        NaN

[2 rows x 9 columns]

## Acidentes em cada hora

In [ ]:
dfOCO.head(2)

  CLASSIFICAÇÃO EMPRESA  ... PRESSA PARA CONCLUIR O TRABALHO DESCRIÇÃO
0           IBP      E3  ...                             NaN        NaN
1           IBP      E3  ...                             NaN        NaN

[2 rows x 37 columns]

In [ ]:
dfOCO.columns

Index(['CLASSIFICAÇÃO', 'EMPRESA', 'GERÊNCIA', 'COORDENAÇÃO ', 'SUB ÁREA',
       'NOME', 'CARGO', 'TEMPO DE EMPRESA', 'IDADE', '\nDATA DA OCORRÊNCIA',
       'DIA DA SEMANA', 'HORA', ' \nLOCAL DA OCORRÊNCIA', 'QUALIDADE PISTA',
       'CARACTERISTICA PISTA', 'SINALIZAÇÃO', 'CLIMA', 'PREFIXO', 'MODELO',
       'CARREGADO', 'TIPO ', 'DETALHAMENTO', 'POTENCIAL', 'SAP', 'DIA ESCALA',
       'ESCALA', 'JORNADA ', 'TEMPO DECORRIDO', 'DORMIU BEM?',
       'PRÓXIMO PERIODO DE FÉRIAS OU FERIADO', 'ALIMENTOU', 'PROBLEMAS SAÚDE ',
       'USO MEDICAMENTO', 'USO ALCOOL/DROGA', 'PRESSÃO',
       'PRESSA PARA CONCLUIR O TRABALHO', 'DESCRIÇÃO '],
      dtype='object')

In [ ]:
dfOCO['TIPO '].value_counts()

TRANSPORTE DE MADEIRA              224
VEÍCULO DE LOCOMOÇÃO DE PESSOAS    102
TRANSPORTE GERAL                    52
TRANSPORTE DE MADEIRA                4
Name: TIPO , dtype: int64

In [ ]:
# Ocorrências
dfOCO = pd.read_excel(fileOCO)
dfOCO = dfOCO.dropna(subset=['EMPRESA'])
dfOCO = dfOCO.dropna(subset=['TIPO '])
dfOCO['HorarioAcidente'] = pd.to_datetime(dfOCO['HORA'], format='%H:%M:%S').dt.hour
dfOCO.set_index('HORA',drop=True,inplace=True)
dfOCO.head()

         CLASSIFICAÇÃO  ... HorarioAcidente
HORA                    ...
15:00:00           IBP  ...              15
21:40:00           IAP  ...              21
13:51:00           IBP  ...              13
21:45:00           IAP  ...              21
16:51:00           IBP  ...              16

[5 rows x 37 columns]

In [ ]:
TM = (dfOCO['TIPO '] == 'TRANSPORTE DE MADEIRA') | (dfOCO['TIPO '] == 'TRANSPORTE DE MADEIRA ')

dfOCO_TM = dfOCO[TM]
dfOCO_TM.EMPRESA.value_counts()

E3     48
E9     42
E2     28
E7     21
E5     19
E4     16
E12    13
E16     9
E1      8
E13     5
E19     3
E23     3
E26     2
E32     2
E31     1
E25     1
E30     1
E36     1
E14     1
E34     1
E33     1
E22     1
Name: EMPRESA, dtype: int64

In [ ]:
E3 = (dfOCO_TM['EMPRESA'] == 'E3')
E5 = (dfOCO_TM['EMPRESA'] == 'E5')
E9 = (dfOCO_TM['EMPRESA'] == 'E9')

dfOCO_TM_E3 = dfOCO_TM[E3]
dfOCO_TM_E5 = dfOCO_TM[E5]
dfOCO_TM_E9 = dfOCO_TM[E9]

print(dfOCO_TM_E3.shape,dfOCO_TM_E5.shape,dfOCO_TM_E9.shape)

(48, 37) (19, 37) (42, 37)

## Eventos em cada hora

**E3**

In [ ]:
dfE3.head(2)

   HORA              TIPO     QTDE  ... PONTO REFERÊNCIA DIA DA SEMANA COLABORADOR
0     0  FADIGA MOTORISTA  AZZ4908  ...              NaN           qui        C193
1     0  FADIGA MOTORISTA  AZZ4908  ...              NaN           ter        C193

[2 rows x 9 columns]

**E5**

In [ ]:
dfE5.head(2)

  Nome                DATA                HORA Tipo de Desatenção  Velocidade
0  NaN 2019-01-04 11:46:41 2019-01-04 11:46:41       Olho Fechado          57
1  NaN 2019-01-11 19:11:04 2019-01-11 19:11:04       Olho Fechado          48

**E9**

In [ ]:
dfE91.head(2)

   Data da ocorrência        dia        mês  ...    Placa  Motorista Unnamed: 8
0 2019-04-23 22:59:00 2019-04-23 2019-04-23  ...  PLP3I10        NaN        NaN
1 2019-04-23 19:46:00 2019-04-23 2019-04-23  ...  PLP3I10        NaN        NaN

[2 rows x 9 columns]

In [ ]:
dfE92.head(2)

   Data da ocorrência        dia        mês  ...    Placa  Motorista Unnamed: 8
0 2019-12-01 23:59:00 2019-12-01 2019-12-01  ...  CQU5528       C805        NaN
1 2019-12-01 23:10:00 2019-12-01 2019-12-01  ...  QPY2670       C784        NaN

[2 rows x 9 columns]

# **Visualização**

**Função de visualização:**

f(a1,a2,a3,... aN, 'acidente', 'bocejo',...'final')

Comando (!)

In [ ]:
def plot(y=[], name=[], title, yaxes_title=[]):

  # Create figure with secondary y-axis
  fig = make_subplots(specs=[[{"secondary_y": True}]])

  # Markers
  markers = ['x','star','diamond','circle']

  # Lines
  dash = ['dash','dot','dashdot']

  for i, v in enumarate(y):
    if i==0:
      # Add traces
      fig.add_trace(
          go.Scatter(x=np.linspace(0,24,9),
          y=v, name=name[i],
          marker_symbol=markers[i],
          marker_size=7,
          mode='lines+markers',
          line=dict(color='rgb(0, 0, 0)',
          width=2),),
          # line_shape='spline'),
          secondary_y=False)
      
    else:
      # Add traces
      fig.add_trace(
          go.Scatter(x=np.linspace(0,24,9),
          y=v, name=name[i],
          marker_symbol=markers[i],
          marker_size=7,
          mode='lines+markers',
          line=dict(color='rgb(0, 0, 0)',
          width=2, dash=dash[i-1]),),
          # line_shape='spline'),
          secondary_y=True)
  
  # Add figure title
  fig.update_layout(title_text=title)
  
  # Set x-axis title
  fig.update_xaxes(title_text="Time of day")

  # Set y-axes titles
  if len(yaxes_title) > 1:
    fig.update_yaxes(title_text="<b>"+ yaxes_title[0] +"</b>", secondary_y=False)
    fig.update_yaxes(title_text="<b>"+ yaxes_title[1] +"</b>", secondary_y=True)
  else:
    fig.update_yaxes(title_text="<b>"+ yaxes_title[0] +"</b>", secondary_y=False)

  
  fig.update_xaxes(showgrid=True, gridwidth=1, gridcolor='black')
  fig.update_yaxes(showgrid=False, gridwidth=1, gridcolor='black')

  fig.update_xaxes(showline=True, linewidth=2, linecolor='black', mirror=True)
  fig.update_yaxes(showline=True, linewidth=2, linecolor='black', mirror=True)

  fig.update_layout(
      paper_bgcolor='rgba(0,0,0,0)',
      plot_bgcolor='rgba(0,0,0,0)'
  )

  fig.update_layout(
      xaxis=dict(
      tickmode='linear',
      tick0=0,
      dtick=3
  ))

  fig.show()

In [ ]:
# Create figure with secondary y-axis
fig = make_subplots(specs=[[{"secondary_y": True}]])

# Add traces
fig.add_trace(
    go.Scatter(x=np.linspace(0,24,9),
    y=counts, name="Events(raw)",
    marker_symbol='x',
    marker_size=7,
    mode='lines+markers',
    line=dict(color='rgb(0, 0, 0)',
    width=2,dash='dash'),),
    # line_shape='spline'),
    secondary_y=False,
)

fig.add_trace(
    go.Scatter(x=np.linspace(0,24,9),
    y=counts/c, name="Events/Drivers",
    marker_symbol='star',
    marker_size=7,
    mode='lines+markers',
    line=dict(color='rgb(0, 0, 0)',
    width=2),),
    # line_shape='spline'),
    secondary_y=True,
)


# Add figure title
fig.update_layout(
    title_text="Events company E3"
)

# Set x-axis title
fig.update_xaxes(title_text="Time of day")

# Set y-axes titles
fig.update_yaxes(title_text="<b>Raw</b>", secondary_y=False)
fig.update_yaxes(title_text="<b>Rate</b>", secondary_y=True)

fig.update_xaxes(showgrid=True, gridwidth=1, gridcolor='black')
fig.update_yaxes(showgrid=False, gridwidth=1, gridcolor='black')

fig.update_xaxes(showline=True, linewidth=2, linecolor='black', mirror=True)
fig.update_yaxes(showline=True, linewidth=2, linecolor='black', mirror=True)

fig.update_layout(
    paper_bgcolor='rgba(0,0,0,0)',
    plot_bgcolor='rgba(0,0,0,0)'
)

fig.update_layout(
    xaxis=dict(
    tickmode='linear',
    tick0=0,
    dtick=3
)
)

fig.show()

In [ ]:
fig.write_image("images/AcidentesTotal.eps")

# **Salvar os resultados em csv**